pyyaml
requests
httpx
replicate
tqdm
openai
google-genai
tencentcloud-sdk-python-ai3d
volcengine-python-sdk[ark]
pillow
opencv-python-headless
pycocotools
matplotlib
pyrender
trimesh
transformers
addict
yapf
supervision==0.25.1
numpy==1.26.4